@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');
@import '_variable.scss';
@import '_global.sass';

@import 'partials/_nav.sass';

@import './pages/home.sass';
@import './pages/auth.sass';

@import './pages/accounts.sass';
@import './pages/product.sass';


// components
@import './pages/components/home/productBox.sass';
@import './pages/components/home/pop-up.sass';
@import './pages/components/home/cart.sass';

