@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", san-serif;
}

.btn {
  padding: 10px 35px;
  border-radius: 300px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background: #6100ff;
  color: #fff;
}
.btn-primary:hover {
  background: #260064;
}

.btn-block {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.menu {
  background: #6100ff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.menu .logo {
  height: 46px;
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 30px;
}
.menu ul li a {
  color: white;
  height: 46px;
  width: 46px;
  font-size: 22px;
  background: #570bd7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
}
.menu ul li a .info-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff36f7;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -20%);
  color: white;
}
.menu ul li a:hover {
  background: white;
  color: #6100ff;
}

.home-header {
  background: linear-gradient(to bottom, #6100ff, #d38eff);
  padding: 100px 25px 120px;
  display: felx;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 50% 50%;
}
.home-header .home-header-text {
  text-align: center;
  color: #fff;
}
.home-header .home-header-text .title {
  font-size: 40px;
  font-weight: 700;
}
.home-header .home-header-text .tagline {
  font-size: 20px;
  font-weight: 300;
}
.home-header .home-header-search {
  margin-top: 20px;
  text-align: center;
}
.home-header .home-header-search input {
  width: 600px;
  max-width: 100%;
  border-radius: 300px;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #6100ff;
}
.home-header .home-header-search input:focus {
  outline: none;
}

.products-section {
  padding: 70px 0;
}
.products-section .section-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.products-section .products-row {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.login-page {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page .login-form-box {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%;
}
.login-page .login-form-box .login-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #260064;
}
.login-page .login-form-box .field {
  margin-bottom: 25px;
}
.login-page .login-form-box .field input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 200px;
  border: 1px solid #ddd;
}
.login-page .login-form-box .field input .has-error {
  border-color: #e91e1e;
}
.login-page .login-form-box .field-error {
  color: #e91e1e;
  font-size: 13px;
  margin-top: 2px;
}

.accounts-page {
  padding: 50px 15px;
}

.product-box {
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 40px 0 rgba(49, 32, 138, 0.05);
  text-align: center;
  max-width: 270px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.product-box:hover {
  box-shadow: 0 10px 50px 2px rgba(0, 0, 0, 0.15);
}
.product-box:hover .image {
  background: linear-gradient(to bottom right, #6100ff, #d38eff);
}
.product-box .image {
  background: #f6f7f8;
  height: 230px;
  width: 270px;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.product-box .image img {
  max-width: 100%;
  max-height: 100%;
}
.product-box .product-title {
  font-size: 18px;
  font-weight: 800;
  color: #fb2e86;
  margin-bottom: 10px;
}
.product-box .color-plateletes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.product-box .color-plateletes .color-platelete {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #000;
}
.product-box .product-category {
  color: #6f6f6f;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 10px;
}
.product-box .product-price {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #260064;
}
